:root {
    --teal-light: #A7D2CB;
    --yellow-dark: #F2D388;
    --orange-dark: #C98474;
    --maroon-dark: #C98474;

    --black: #000;
    --crimson-red: #950101;
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to top, var(--maroon-dark), var(--teal-light));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 7px;
    color: var(--black);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header {
    border-bottom: 2px solid var(--teal-light);
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 20px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input, .form-control select {
    border: 2px solid var(--black);
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control select, .form-control select option {
    background-color: white;
}

.form-control input::-webkit-inner-spin-button,
.form-control input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control input:focus {
    outline: 0;
    border-color: var(--yellow-dark);
}

.form-control.error input {
    border-color: var(--crimson-red);
}

.form-control small {
    color: var(--crimson-red);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error  small{
    visibility: visible;
}

.form button {
    background-color: var(--teal-light);
    border: 2px solid var(--teal-light);
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 75%;
}

.form button:hover {
    background-color: var(--yellow-dark);
    border-color: var(--yellow-dark);
}

.footer.visible {
    border-top: 2px solid var(--maroon-dark);
    padding: 20px 40px;
    visibility: visible;
}

.footer.hidden {
    visibility: hidden;
}

.footer h2 {
    margin: 0;
}